@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


*{
    font-family: 'Noto Sans JP', sans-serif;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background-image: url('Mountain.jpeg') ;
    background-size: cover;
    
}

.carousel-image-2 {
    background-image: url('beach.jpeg') ;
    background-size: cover;
}
.carousel-image-3 {
    background-image: url('sea.jpeg') ;
    background-size: cover;
}
.carousel-image-4 {
    background-image: url('farm.jpeg') ;
    background-size: cover;
}

#about-me{
    min-height: 200px;
    position: relative;
    background-image: url('universe.jpeg');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.img-block{
    height: 1000px;
}