@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');

body{
    font-family: 'Andada Pro', serif;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background-image: url('slider/3700.jpg') ;
    background-size: cover;
}

.carousel-image-2 {
    background-image: url('beach.jpeg') ;
    background-size: cover;
}
.carousel-image-3 {
    background-image: url('sea.jpeg') ;
    background-size: cover;
}
.carousel-image-4 {
    background-image: url('farm.jpeg') ;
    background-size: cover;
}


#section-contact {
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 0 2rem;
    z-index: -10;
    height: 80vh;
    
}

.text {
    color: white;
}

.text h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 3rem;
}

.text p {
    margin-top:0;
    text-align: center;
    font-size: 1.5rem;
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
}

.btn {
    color: white;
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius:2px;
    transition: transform 0.2s ease;
    z-index: 2;
}

.f:hover {
    color: white;
    transform: translate(0,5px);
}



a{
    text-decoration: none;
    color: white;

}

footer{
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    border-top: 4px solid red;
}




body::-webkit-scrollbar {
    width: 8px;
    border: none;
}

 
body::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    border: none;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
    border: none;
}